.client-section img{
 
      width:  70px;
      height: 70px;
      border-radius: 100%;
     
}

.client-section div {

        text-align: center;
        color: rgb(146, 44, 0);
        font-weight: 500;
        font-size: 1.1rem;
        height: 280px;
}
.client-section div img{

     margin: auto;
}

.client-section div p{

       padding: 0.5rem 0;
       height: 130px;
}

.client-section div span{

      display: inline-block;
      font-size: 1.4rem;
      color: #1400ac;
      text-shadow: 1px 1px 2px #008b2c;
}